body{
  margin:0;
  font-family: "Roboto", sans-serif;
}

main{
  height: 100vh;
  width: 100vw;
  display: flex;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

button{
  all: unset;
  cursor: pointer;
}

span{
  color: #ececec;
  font-size: 14px;
}

.sidebar{
 background-color: #171717;
 width: 260px;
 padding: 0 12px 12px 12px;
 display: flex;
 flex-direction: column;
 
}

.content{
 background-color: #222222;
 height: 100%;
 flex: 1;
}

.icons-row{
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.icon-btn{
  color: #b4b4b4;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.icon-btn:hover{
  background-color: #222222;
}

.chatgpt-btn{
  border-radius: 8px;
  display: flex;
  height: 40px;
  gap: 8px;
  align-items: center;
  padding: 0 8px;
}

.chatgpt-btn:hover{
  background-color: #222222;
}

.chatgpt-icon{
  background-color: #212121;
  border: 1px solid rgba(255,255,255,0.5);
  height: 24px;
  width: 24px;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

.chatgpt-icon svg{
  color: #b4b4b4;
  height: 66%;
  width: 66%;
}


.explore-btn{
  border-radius: 8px;
  display: flex;
  height: 40px;
  gap: 8px;
  align-items: center;
  padding: 0 8px;
}

.explore-btn:hover{
  background-color: #222222;
}

.explore-icon{
  color: #b4b4b4;
  height: 26px;
  width: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.explore-icon svg{
  height: 18px;
  width: 18px;
}

.list-date{
  color: #b4b4b4;
  font-size: 12px;
  padding: 12px 8px 8px;
}

.chat-item{
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  display: flex;
  height: 36px;
  align-items: center;
  padding: 0 8px;
}

.chat-item:hover{
  background-color: #222222;
}

.chats-container{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.chat-options-btn {
  position: absolute;
  color: white;
  right: 8px;
  display: none;
  align-items: center;

}

.chat-item:hover .chat-options-btn{
  display: flex;
}

.upgrade-btn{
  height: 56px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 8px;
}

.chats-box{
  flex: 1;
}

.upg-text{
  display: flex;
  flex-direction: column;
}
.upg-gpt{
  color: #b9b9b9;
}

.upgrade-btn:hover{
  background-color: #222222;
}